<section class="registration-container">
  <%= link_to "Back", :back, class: 'back-button' %>
  <br><br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "registration-input" %>
    </div>
  
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "registration-input" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New password', class: "registration-input" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'New password confirmation', class: "registration-input" %>
    </div>
  
    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current password', class: "registration-input" %>
    </div>
  
    <div class="registration-button">
      <%= f.submit "Update" %>
    </div>
  <% end %>


  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'cancel-account-button' %>

</section>
