<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex-row">
    <div>
      <%= form.text_field :name, placeholder: 'Name' %>
    </div>
    <div>
      <%= form.select :icon, [['ðŸŽ²'], ['ðŸš˜'], ['ðŸ›’'], ['ðŸ•'], ['ðŸ“š'], ['ðŸŽžï¸'], ['ðŸŽ¶'], ['ðŸŽ'], ['ðŸ‘¾'], ['âœðŸ½'], ['ðŸƒðŸ½'], ['â¤ï¸'], ['â­'], ['ðŸ¶'], ['ðŸŒ³'], ['ðŸŒŽ'], ['ðŸŒ™'], ['ðŸ’§'], ['â˜€ï¸'], ['ðŸŒ¹'], ['ðŸˆ'], ['ðŸ¥Š'], ['âœˆï¸'], ['ðŸ•ï¸'], ['ðŸš²'], ['ðŸ”¨'], ['ðŸ“†'], ['ðŸ“Ž'], ['ðŸ”’'], ['ðŸ“Œ'], ['âœ‚ï¸'], ['ðŸ•™'], ['ðŸ§¹']] %>
    </div>
  </div>

  <div class='create-group-button'>
    <%= form.submit %>
  </div>
<% end %>
