<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group_establishments_path(group) %>
      <%= link_to "Edit this group", edit_group_path(group) %>
      <%= button_to "Destroy this group", group_path(group), method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
