<div class="establishment">
  <p>
    <strong>Name:</strong>
    <%= establishment.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= establishment.user.name %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <span>$<%= establishment.amount %></span>
  </p>

  <p>
    <strong>Created At:</strong>
    <span><%= establishment.created_at.strftime("%e %b %y") %></span>
  </p>
</div>
