<section class="selection-container">
  <span>
    Most recent
  </span>
  <span>
    Most ancient
  </span>
</section>

<section class="user-container">
  <div>
    <%= current_user.name %>
  </div>
  <span>
    $<%= @group.establishments.sum(:amount) %>
  </span>
</section>

<section class="establishments-container">
  <p style="color: green"><%= notice %></p>
  
  <h1><%= @group.name %></h1>
  
  <div class="establishments">
    <% @establishments.each do |establishment| %>
      <% if can? :manage, establishment %>
        <%= link_to(group_establishment_path(@group, establishment)) do %>
          <%= render establishment %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <%= link_to "New establishment", new_group_establishment_path(@group), class: 'button-1' %>
  
  <%= link_to "Back to groups", groups_path %>
</section>
