<% if can? :manage, @group %>
  <section class="establishments-container">
    <p style="color: green"><%= alert %></p>
    
    <%= render @establishment %>
    <div class="group-buttons">
      <%= link_to image_tag('edit.png'), edit_group_establishment_path(@group, @establishment), class: 'group-edit-button' %>
      <%= button_to image_tag('trash.png'), group_establishment_path(@group, @establishment), method: :delete, class: 'group-destroy-button' %>
    </div>
    
    <%= link_to "Back to establishments", group_establishments_path, class: 'back-button' %>
  </section>
<% else %>
  "Get out of here"
<% end %>