<p style="color: green"><%= notice %></p>

<%= render @establishment %>

<div>
  <%= link_to "Edit this establishment", edit_establishment_path(@establishment) %> |
  <%= link_to "Back to establishments", establishments_path %>

  <%= button_to "Destroy this establishment", @establishment, method: :delete %>
</div>
